body {
  background: rgb(129, 125, 117);
}
card{
  background-image: url("https://static.timesofisrael.com/www/uploads/2012/06/mad-magazine-1024x640.jpg");
}
.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}
/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #3717ce;
    color: whitesmoke;
}